Job: "SensitivityStudy_2L"
  Label: "ttH(cc), 2L"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  POI: mu_ttHcc,mu_ttZcc
  POIPrecision: 3
  ReadFrom: HIST
  HistoPath: "${HISTO_PATH}"
  ImageFormat: pdf,png
  ReplacementFile: "${REPLACEMENT_FILE}"

Fit: "obs"
  FitStrategy: 1
  BinnedLikelihoodOptimization: TRUE
  FitType: SPLUSB
  FitRegion: CRSR

#------------------------------
# Regions
#------------------------------
Region: "L1_TMTM4j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMTM4j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMTM, 4 jets"

Region: "L1_TMTM5j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMTM5j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMTM, 5 jets"

Region: "L1_TMTM6j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMTM6j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMTM, 6 jets"

Region: "L1_TMTM7j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMTM7j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMTM, 7 jets"

Region: "L1_TMTM8j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMTM8j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMTM, 8+ jets"

Region: "L1_TML4j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TML4j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TML, 4 jets"

Region: "L1_TML5j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TML5j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TML, 5 jets"

Region: "L1_TML6j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TML6j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TML, 6 jets"

Region: "L1_TML7j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TML7j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TML, 7 jets"

Region: "L1_TML8j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TML8j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TML, 8+ jets"

Region: "L1_LL4j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LL4j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LL, 4 jets"

Region: "L1_LL5j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LL5j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LL, 5 jets"

Region: "L1_LL6j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LL6j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LL, 6 jets"

Region: "L1_LL7j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LL7j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LL, 7 jets"

Region: "L1_LL8j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LL8j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LL, 8+ jets"

Region: "L1_LN4j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LN4j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LN, 4 jets"

Region: "L1_LN5j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LN5j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LN, 5 jets"

Region: "L1_LN6j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LN6j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LN, 6 jets"

Region: "L1_LN7j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LN7j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LN, 7 jets"

Region: "L1_LN8j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_LN8j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, LN, 8+ jets"

Region: "L1_TMN4j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMN4j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMN, 4 jets"

Region: "L1_TMN5j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMN5j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMN, 5 jets"

Region: "L1_TMN6j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMN6j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMN, 6 jets"

Region: "L1_TMN7j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMN7j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMN, 7 jets"

Region: "L1_TMN8j"
  Type: SIGNAL
  HistoName: "SensitivityStudy_2L_l_TMN8j_massh"
  VariableTitle: "m_{H} [GeV]"
  Label: "1L, TMN, 8+ jets"

#------------------------------
# Samples: Data
#------------------------------
Sample: "Data"
  Title: "Data"
  Type: data
  HistoFile: "Data"

#------------------------------
# Samples: MC
#------------------------------
Sample: "ttH_cc"
  Type: SIGNAL
  HistoFile: "ttH_cc"
  Title: "ttH(cc)"
  FillColorRGB: 204,121,167
  UseMCstat: TRUE

Sample: "ttZ_cc"
  Type: SIGNAL
  HistoFile: "ttZ_cc"
  Title: "ttZ(cc)"
  FillColorRGB: 86,180,233
  UseMCstat: TRUE

Sample: "ttH_bb"
  Type: BACKGROUND
  HistoFile: "ttH_bb"
  Title: "ttH(bb)"
  FillColorRGB: 239,182,214
  UseMCstat: TRUE

Sample: "ttZ_bb"
  Type: BACKGROUND
  HistoFile: "ttZ_bb"
  Title: "ttZ(bb)"
  FillColorRGB: 188,225,255
  UseMCstat: TRUE

Sample: "ttbar_enhanced_HFlight"
  Type: BACKGROUND
  HistoFile: "ttbar_enhanced_HFlight"
  Title: "ttbar HFlight"
  FillColorRGB: 163,228,215
  UseMCstat: TRUE

Sample: "ttbar_enhanced_HF1c"
  Type: BACKGROUND
  HistoFile: "ttbar_enhanced_HF1c"
  Title: "ttbar HF1c"
  FillColorRGB: 72,201,176
  UseMCstat: TRUE

Sample: "ttbar_enhanced_HF2c"
  Type: BACKGROUND
  HistoFile: "ttbar_enhanced_HF2c"
  Title: "ttbar HF2c"
  FillColorRGB: 67,186,143
  UseMCstat: TRUE

Sample: "ttbar_enhanced_HF1b"
  Type: BACKGROUND
  HistoFile: "ttbar_enhanced_HF1b"
  Title: "ttbar HF1b"
  FillColorRGB: 0,158,115
  UseMCstat: TRUE

Sample: "ttbar_enhanced_HF2b"
  Type: BACKGROUND
  HistoFile: "ttbar_enhanced_HF2b"
  Title: "ttbar HF2b"
  FillColorRGB: 20,143,119
  UseMCstat: TRUE

Sample: "EWK"
  Type: BACKGROUND
  HistoFile: "EWK"
  Title: "EWK"
  FillColorRGB: 255,213,175
  UseMCstat: TRUE

Sample: "other"
  Type: BACKGROUND
  HistoFile: "other"
  Title: "other"
  FillColorRGB: 240,145,99
  UseMCstat: TRUE

Sample: "dijet_bb"
  Type: BACKGROUND
  HistoFile: "dijet_bb"
  Title: "dijet(bb)"
  FillColorRGB: 183,183,183
  UseMCstat: TRUE

# ------------------------------
# Norm Factors
# ------------------------------
NormFactor: "mu_ttHcc"
  Title: mu_ttHcc
  Samples: ttH_cc
  Nominal: 1
  Min: 1
  Max: 1

NormFactor: "mu_ttZcc"
  Title: mu_ttZcc
  Samples: ttZ_cc
  Nominal: 1
  Min: 1
  Max: 1

NormFactor: "mu_ttbar_HF_4j_5j";"mu_ttbar_HF_6j";"mu_ttbar_HF_7j";"mu_ttbar_HF_8pj"
  Regions: XXX_L1_4j_5j;XXX_L1_6j;XXX_L1_7j;XXX_L1_8j
  Samples: ttbar_enhanced_HF1c,ttbar_enhanced_HF2c,ttbar_enhanced_HF1b,ttbar_enhanced_HF2b
  Nominal: 1
  Min: 0
  Max: 5

NormFactor: "mu_ttbar_HFlight_4j_5j";"mu_ttbar_HFlight_6j";"mu_ttbar_HFlight_7j";"mu_ttbar_HFlight_8pj"
  Regions: XXX_L1_4j_5j;XXX_L1_6j;XXX_L1_7j;XXX_L1_8j
  Samples: ttbar_enhanced_HFlight
  Nominal: 1
  Min: 0
  Max: 5

NormFactor: "mu_EWK"
  Samples: EWK,other
  Nominal: 1
  Min: 0
  Max: 5

Systematic: "ttbar_HFb_sys"
  Type: OVERALL
  Samples: ttbar_enhanced_HF1b,ttbar_enhanced_HF2b
  OverallUp: 0.2
  OverallDown: -0.2

Systematic: "ttbar_HF1c_sys"
  Type: OVERALL
  Samples: ttbar_enhanced_HF1c
  OverallUp: 0.2
  OverallDown: -0.2

Systematic: "ttHbb_sys"
  Type: OVERALL
  Samples: ttH_bb
  OverallUp: 0.1
  OverallDown: -0.1

Systematic: "ttZbb_sys"
  Type: OVERALL
  Samples: ttZ_bb
  OverallUp: 0.1
  OverallDown: -0.1
